<div class="col-lg-9 col-md-12">
  <div class="videoWrapper thumbnail">
    <iframe src="https://player.vimeo.com/video/130541267" width="500" height="313" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  </div>
  <div class="hidden-lg">
    <h5>INSTRUCTIONS</h5>
    <div style="width:100%; height:150px; overflow: auto;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis nulla ut lectus blandit bibendum nec eu neque. In ac est ac nulla luctus auctor et eu nulla. Fusce nec est varius, ullamcorper ipsum eget, porta urna. Integer ante ipsum, pharetra sed ligula ac, consequat sodales elit. Praesent tempus consequat est, nec varius dui congue vitae. Suspendisse eu mattis mi, at eleifend mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean mollis gravida elit, id euismod nisi egestas a. Morbi interdum est arcu, eget egestas enim convallis nec. Mauris id quam neque. Duis dapibus risus at dictum cursus. Suspendisse nisi risus, pellentesque ac ligula interdum, finibus tempor sapien. Duis faucibus lectus nec nisl elementum egestas.

        Nam at fringilla nisi, quis scelerisque mi. Integer bibendum risus quis lorem accumsan vehicula. Curabitur luctus malesuada dictum. Donec mattis, neque non sollicitudin posuere, enim diam eleifend velit, quis auctor ex ex sit amet risus. Maecenas placerat, justo hendrerit varius volutpat, orci neque dapibus diam, vel fringilla ligula erat sit amet ipsum. Pellentesque pharetra faucibus ullamcorper. Maecenas vitae pulvinar tortor, ut iaculis nibh. Morbi lacinia pellentesque tellus vitae tincidunt. Praesent eu congue nulla. Sed rhoncus nisi ex.</p>
    </div>
  </div>

  <link rel="stylesheet" media="all" href="/assets/commontator/application.self-f9e7c1541e1b8783561468c59162bd896007380f5a3799ef2169d3a3fdf40bed.css?body=1">
  <link rel="stylesheet" media="all" href="/assets/commontator/comments.self-93ed8ad762316b20704a184462835cc48cfbca9d4c03f023450ff6758882229d.css?body=1">
  <link rel="stylesheet" media="all" href="/assets/commontator/threads.self-81d855c916eefc07197bc632e7012851d33a3334800e95db7e56584eaa3a130b.css?body=1">

  <div id="thread_1_div" class="thread" style="display: none;">
    <div class="panel-body">


      <div class="row">
        <div class="panel panel-default widget">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span>
            <h3 class="panel-title">
              Recent Comments</h3>
                <span class="label label-info">
                    78</span>
          </div>
          <div id="thread_1_comment_list_div" class="thread_comment_list">



            <div id="comment_1_div" class="comment">
              <div id="comment_1_top_div" class="comment_div">
    <span id="comment_1_commontator_span" class="comment_commontator">
      <a href="/users/6">Sulman Baig</a>
    </span>
    <span id="comment_1_actions_span" class="comment_actions">


  <a id="comment_1_edit_link" class="comment_edit_link" data-remote="true" href="/commontator/comments/1/edit">Edit</a>

&nbsp;

  <a confirm="Are you sure you want to delete this comment?" id="comment_1_delete_link" class="comment_delete_link" data-remote="true" rel="nofollow" data-method="put" href="/commontator/comments/1/delete">Delete</a>

    </span>
              </div>
              <div id="comment_1_middle_div" class="comment_div">
    <span id="comment_1_avatar_span" class="comment_avatar">
      <img alt="Sulman Baig" title="Sulman Baig" border="1" src="http://www.gravatar.com/avatar/2e1530a7eb0713029b43728a75ecf091?d=mm&amp;s=60">
    </span>
    <span id="comment_1_votes_span" class="comment_votes">


    </span>
                <div id="comment_1_body_div" class="comment_body">

                  <p>Hello World!</p>

                </div>
              </div>
              <div id="comment_1_bottom_div" class="comment_div">
        <span id="comment_1_updated_timestamp_span" class="comment_timestamp">
          about 10 hours ago
        </span>
              </div>
            </div>



            <div id="comment_2_div" class="comment">
              <div id="comment_2_top_div" class="comment_div">
    <span id="comment_2_commontator_span" class="comment_commontator">
      <a href="/users/6">Sulman Baig</a>
    </span>
    <span id="comment_2_actions_span" class="comment_actions">


  <a id="comment_2_edit_link" class="comment_edit_link" data-remote="true" href="/commontator/comments/2/edit">Edit</a>

&nbsp;

  <a confirm="Are you sure you want to delete this comment?" id="comment_2_delete_link" class="comment_delete_link" data-remote="true" rel="nofollow" data-method="put" href="/commontator/comments/2/delete">Delete</a>

    </span>
              </div>
              <div id="comment_2_middle_div" class="comment_div">
    <span id="comment_2_avatar_span" class="comment_avatar">
      <img alt="Sulman Baig" title="Sulman Baig" border="1" src="http://www.gravatar.com/avatar/2e1530a7eb0713029b43728a75ecf091?d=mm&amp;s=60">
    </span>
    <span id="comment_2_votes_span" class="comment_votes">


    </span>
                <div id="comment_2_body_div" class="comment_body">

                  <p>Really</p>

                </div>
              </div>
              <div id="comment_2_bottom_div" class="comment_div">
        <span id="comment_2_created_timestamp_span" class="comment_timestamp">
          about 10 hours ago
        </span>
              </div>
            </div>



            <div id="comment_3_div" class="comment">
              <div id="comment_3_top_div" class="comment_div">
    <span id="comment_3_commontator_span" class="comment_commontator">
      <a href="/users/6">Sulman Baig</a>
    </span>
    <span id="comment_3_actions_span" class="comment_actions">


  <a id="comment_3_edit_link" class="comment_edit_link" data-remote="true" href="/commontator/comments/3/edit">Edit</a>

&nbsp;

  <a confirm="Are you sure you want to delete this comment?" id="comment_3_delete_link" class="comment_delete_link" data-remote="true" rel="nofollow" data-method="put" href="/commontator/comments/3/delete">Delete</a>

    </span>
              </div>
              <div id="comment_3_middle_div" class="comment_div">
    <span id="comment_3_avatar_span" class="comment_avatar">
      <img alt="Sulman Baig" title="Sulman Baig" border="1" src="http://www.gravatar.com/avatar/2e1530a7eb0713029b43728a75ecf091?d=mm&amp;s=60">
    </span>
    <span id="comment_3_votes_span" class="comment_votes">


    </span>
                <div id="comment_3_body_div" class="comment_body">

                  <p>waqai?</p>

                </div>
              </div>
              <div id="comment_3_bottom_div" class="comment_div">
        <span id="comment_3_created_timestamp_span" class="comment_timestamp">
          about 10 hours ago
        </span>
              </div>
            </div>


          </div>


          <div id="thread_1_pagination_div" class="thread_pagination">
            <div id="thread_1_page_entries_info_div" class="thread_page_entries_info">
              Displaying comments <b>1&nbsp;-&nbsp;3</b> of <b>6</b> in total.
            </div>

            <div id="thread_1_will_paginate_div" class="thread_will_paginate">
              <div class="pagination" routes_proxy="#<ActionDispatch::Routing::RoutesProxy:0x007fedab5c83c0>" remote="true"><span class="previous_page disabled">← Previous</span> <em class="current">1</em> <a rel="next" data-remote="true" href="http://localhost:3000/commontator/threads/1?course_id=1&amp;page=2&amp;per_page=3">2</a> <a class="next_page" data-remote="true" rel="next" href="http://localhost:3000/commontator/threads/1?course_id=1&amp;page=2&amp;per_page=3">Next →</a></div>
            </div>
          </div>
        </div>
      </div>

      <div id="thread_1_reply" class="thread_reply">
        <div id="thread_1_new_comment_form_div" class="thread_new_comment_form commontator_hidden">
        </div>

        <div id="thread_1_new_comment_link_div" class="thread_new_comment_link">
          <a data-remote="true" href="/commontator/threads/1/comments/new?per_page=3">New Comment</a>
        </div>
      </div>


    </div>
  </div>

</div>