<br/>
<div class="panel panel-info">
  <div class="panel-heading" id="accordion">
    <span class="glyphicon glyphicon-comment"></span> Comments
    <div class="btn-group pull-right">
        <span class="badge" id="lec-comments-size"><%= @comments.size %> Comments</span>
    </div>
  </div>

    <div class="panel-body">
      <ul class="chat" id="comment-container">
        <%= render @comments %>
      </ul>
    </div>
    <div class="panel-footer">
      <%= render 'comments/form' %>
    </div>

</div>