<h1>Lectures#show</h1>
<%= @lecture.name %><br>
<%= @lecture.course.name %>
<div class="videoWrapper thumbnail">
    <%= display(@lecture.url).html_safe %>
</div>
<%= commontator_thread(@lecture) %>

<style>
    .videoWrapper {
        position: relative;
        padding-bottom: 45.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>