<nav class="navbar navbar-default">
  <div class="container">
    <p class="navbar-text navbar-right">&copy; 2015 <a href="http://www.sulmanbaig.com" class="navbar-link">Sulman Baig </a></p>
  </div>
</nav>