// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.productbox {
  background-color:#ffffff;
  padding:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
  -moz-box-shadow: 0 8px 6px -6px  #999;
  box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
  font-weight:bold;
  padding:5px 0 5px 0;
}

.productprice {
  border-top:1px solid #dadada;
  padding-top:5px;
}

.pricetext {
  font-weight:bold;
  font-size:1.4em;
}